::selection { background: indigo; color: seashell }
[href] { text-decoration-color: darkviolet; color: indigo }
:focus { text-decoration-color: orchid; outline-color: blueviolet }
:hover { text-decoration-color: indigo }

html {
  font: 20px/1.5 sans-serif;
  background: seashell;
  color: #0a0b0c;
}

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
}

h1 {
  font-size: 3rem;
  overflow-wrap: break-word;
}

p,
h2 {
  max-width: 20em;
  font-size: 1.6rem;
  line-height: 1.2;
  overflow-wrap: break-word;
}

nav,
header,
figure,
footer {
  display: block;
  margin: 0 0 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: table;
  background: lavender;
  margin: 0 0 .5rem;
}

figcaption {
  display: block;
  font-weight: 700;
  margin: 0 0 1rem;
  max-width: 30em;
}

demo-item {
  color: #010101;
  display: block;
  box-sizing: border-box;
}

demo-item:nth-child(odd) { background: violet }
demo-item:nth-child(even) { background: gold }

demo-case {
  box-sizing: border-box;
  display: block;
  font-size: 1.5rem;
  font-family: monospace;
  min-height: 8rem;
  background: mistyrose;
}
